<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred-quicklinks-workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1BA9896A-0290-458D-9A62-221683059FD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16B814B0-2EBD-4E53-AF35-99FC919B3B4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>459A1E6E-CBD6-49CB-BD5D-1BAA67F0DC29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E60B944D-DAB2-4C64-AD18-D27623E20912</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ACCEDFB0-5AA2-4790-AF07-CDB1123C13E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DC01D43-BC3E-4F07-8421-CBDEE60DF16A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70DBA411-AC22-49CB-B518-3C3CF36831B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E60B944D-DAB2-4C64-AD18-D27623E20912</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>063E5E5D-D84B-431E-8FF6-4C96E103430E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B1653C4E-67A8-437C-8DCF-8787CC4B08A3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0117404-813A-434C-8B0F-52B91C567888</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Bo</string>
	<key>description</key>
	<string>Shows links from goodlinks with some specific tag</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Quicklist links</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript ./src/script.jxa open-in-goodlinks "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>063E5E5D-D84B-431E-8FF6-4C96E103430E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading links from GoodLinks (you may need to allow access to GoodLinks)</string>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript ./src/script.jxa list-links "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jumplist to ...</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>459A1E6E-CBD6-49CB-BD5D-1BAA67F0DC29</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open-in-goodlinks</string>
						<key>outputlabel</key>
						<string>open-in-goodlinks</string>
						<key>uid</key>
						<string>B1653C4E-67A8-437C-8DCF-8787CC4B08A3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>nope</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E60B944D-DAB2-4C64-AD18-D27623E20912</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E0117404-813A-434C-8B0F-52B91C567888</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/bosha/alfred-quicklinks-workflow/master/src/info.plist"
readonly workflow_url="bosha/alfred-quicklinks-workflow"
readonly download_type='github_release'
readonly frequency_check='7'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type f -name 'notificator')"

  if [[ -f "${notificator}" &amp;&amp; "$(/usr/bin/file --brief --mime-type "${notificator}")" == 'text/x-shellscript' ]]; then
    "${notificator}" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  # Remote sanity check
  if ! url_exists "${remote_info_plist}"; then
    abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."
  fi

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"
  rm "${tmp_file}"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  readonly download_url="$(
    if [[ "${download_type}" == 'github_release' ]]; then
      osascript -l JavaScript -e 'function run(argv) { return JSON.parse(argv[0])["assets"].find(asset =&gt; asset["browser_download_url"].endsWith(".alfredworkflow"))["browser_download_url"] }' "$(curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest")"
    else
      echo "${workflow_url}"
    fi
  )"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    readonly download_name="$(basename "${download_url}")"
    curl --silent --location --output "${HOME}/Downloads/${download_name}" "${download_url}"
    open "${HOME}/Downloads/${download_name}"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ACCEDFB0-5AA2-4790-AF07-CDB1123C13E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jl-settag</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript ./src/script.jxa list-tags "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Default tag is used to search for links in GoodLinks</string>
				<key>title</key>
				<string>Set default tag for jumplist</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5DC01D43-BC3E-4F07-8421-CBDEE60DF16A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript ./script.jxa set-tag "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>70DBA411-AC22-49CB-B518-3C3CF36831B9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jl-resetcache</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Reset jumplist cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1BA9896A-0290-458D-9A62-221683059FD1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript ./src/script.jxa reset-cache "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16B814B0-2EBD-4E53-AF35-99FC919B3B4D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Workflow to quickly show links from Goodlinks. Oh yeah. it also supports simply fuzzy search.</string>
	<key>uidata</key>
	<dict>
		<key>063E5E5D-D84B-431E-8FF6-4C96E103430E</key>
		<dict>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>16B814B0-2EBD-4E53-AF35-99FC919B3B4D</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>1BA9896A-0290-458D-9A62-221683059FD1</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>459A1E6E-CBD6-49CB-BD5D-1BAA67F0DC29</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>5DC01D43-BC3E-4F07-8421-CBDEE60DF16A</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>70DBA411-AC22-49CB-B518-3C3CF36831B9</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>ACCEDFB0-5AA2-4790-AF07-CDB1123C13E4</key>
		<dict>
			<key>note</key>
			<string>OneUpdater script</string>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>E0117404-813A-434C-8B0F-52B91C567888</key>
		<dict>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>E60B944D-DAB2-4C64-AD18-D27623E20912</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>60</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Cache time to live in minutes. Set to 0 if you don't want to use cache at all. Note that depending on number links in GoodLinks, loading links without cache can take some time. You always can trigger cache rebuild using jl-resetcache</string>
			<key>label</key>
			<string>Cache TTL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>cache_ttl</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>pairs</key>
				<array>
					<array>
						<string>Error</string>
						<string>error</string>
					</array>
					<array>
						<string>Info</string>
						<string>info</string>
					</array>
					<array>
						<string>Debug</string>
						<string>debug</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Default level is "error" which will show only fatal errors (preventing workflow from normal work). Set to "debug" to debug workflow.</string>
			<key>label</key>
			<string>Logging Level</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>log_level</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>pairs</key>
				<array>
					<array>
						<string>Simple</string>
						<string>simple</string>
					</array>
					<array>
						<string>Fuzzy</string>
						<string>fuzzy</string>
					</array>
					<array>
						<string>Sublime Like</string>
						<string>sublime</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Fuzzy matcher to use while searching for a link. Simple just searches for a symbols, while Fuzzy guesses strings similarity with a simple algorhytm.</string>
			<key>label</key>
			<string>Fuzzy Matcher</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>fuzzy_matcher</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>0.5</string>
				<key>placeholder</key>
				<string>Value between 0.1 and 1</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Set value between 0.1 and 1.</string>
			<key>label</key>
			<string>Weight for Simple Matcher</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>simple_matcher_weight</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>0.1</string>
				<key>placeholder</key>
				<string>Value between 0.1 and 1</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Set value between 0.1 and 1.</string>
			<key>label</key>
			<string>Weight for Fuzzy Matcher</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>fuzzy_matcher_weight</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>default_tag</key>
		<string>work/zain</string>
	</dict>
	<key>version</key>
	<string>0.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/bosha/alfred-quicklinks-workflow</string>
</dict>
</plist>
